.project_component {
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.87);
    background-color: #383838;
    height: fit-content;
    max-width: 500px;
    min-width: 350px;
    padding: 18px 24px;
    
    & h2 { margin: 0; }
}


.desc {
    display: flex;
    justify-content: space-between;
    gap: 12px;

    & img {
        height: 150px;
    }
}