.container {
    display: flex;
    justify-content: center;
    align-content: start;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: auto;
}

.project {
    color: rgba(255, 255, 255, 0.87);
    background-color: #383838;
    height: fit-content;
    max-width: 500px;
    padding: 18px 24px;
    margin: 32px;

    & h2 {
        margin: 0;
        padding: 0;
    }
}

.desc {
    display: flex;
    gap: 12px;
}