.sidebar {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 250px;
    padding: 24px 32px;
    color: rgba(255, 255, 255, 0.87);
    background-color: #383838;

    position: sticky;
    top: 0;
    left: 0;
    align-self: start ;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    & img {
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.418);
        border-radius: 100%;
        width: 200px;
    }
}

.socials {
    display: flex;
    justify-content: space-evenly;

    & > div {
        background-color: rgb(48, 48, 48);
        border: 1px solid rgb(78, 77, 77);
        border-radius: 8px;
        box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.356);
        margin: 8px 0;
        height: 54px;
        width: 54px;
    
        img {
            width: 54px;
            height: 54px;
        }
    }

    & > div:hover {
        background-color: rgb(143, 149, 151);
        width: 60px;
        height: 60px;
        transition: .200s;
    
        img {
            width: 60px;
            height: 60px;
        }
    }
}